services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres-product
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: product_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d product_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

  api:
    build: .
    container_name: product-service-api
    ports:
      - "8080:8080"
    environment:
      - DB_SOURCE=postgresql://postgres:postgres@postgres:5432/product_db?sslmode=disable
    depends_on:
      postgres:
        condition: service_healthy
    restart: always

volumes:
  postgres_data:
